.form-titulo{
color: white;
font-family: 'Open sans';
background: dodgerblue;
padding: 20px;
text-align: center;
font-weight: 100;
font-size: 30px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom: 5px solid #F97F51;
}
.form_becas{
width: 95%;
max-width: 600px;
margin: auto;
background: white;
border-radius: 7px;

}
.form_buscar{
    width: 100%;
    max-width: 336px;
    float: right;
    background: hsla(60, 17%, 8%, 0.247);
    border-radius: 0px;
    margin-bottom: 0px;
    right: 100px;
    margin-right: 200px;
	color:black;
    
    }
.main label{

    color: white;
}

input{
    
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid darkgrey;
    font-family: 'Open sans';
    font-size:18px;
	
}
.conten-inputs{
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	
    font-size:17px;
}

.input-100{
width: 90%;
}
.input-48{
    width:48%;
}
.btn_buscar{
    background: #F97F51;
    color: white;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open sans';
    margin-top: 0px;
}
.btn_nuevo{

    float: left;
    background: #F97F51;
    color: white;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open sans';
    margin-top: 0px;
    border-radius: 5px;
    margin-bottom: 0px;
    left: 100px;
    margin-left: 200px;
    
    }


.btn_pro{

    float: left;
    background: #F97F51;
    color: white;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open sans';
    margin-top: 0px;
    border-radius: 5px;
    margin-bottom: 0px;

    margin-left: 50px;
    
    }



.paginador{
  
    color:white;

    font-size: 15px;
    margin-top: 15px;
}
.paginador a{
  
    color:white;

}